doctype html
head
    meta(charset="utf-8")

    link(rel="stylesheet" type="text/css" href="./../resources/build/index.css")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.1/css/foundation.min.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js")
    script(src="./../resources/build/app.js")
    script.
        window.products = !{ PRODUCTS ? JSON.stringify(PRODUCTS) : JSON.stringify({}) };

body#body(ng-app="App:List")
    div#media-query
    div.row.double-gutter.bg-green.text-white
        div.small-12.column
            div.spacer-xxs
            div
                a.text-lg.text-thin(href='/') Escalada
            div.spacer-xxs

    div.spacer-lg

    div.row.double-gutter
        div.small-12.column(
            ng-controller="Controller:ProductsList"
            ng-switch="products.ajax.isLoading"
            ng-cloak
        )
            block content