extends layout

block content
    div.row
        div.small-6.medium-4.large-2.column.text-center(
            ng-repeat="(key, product) in products.all"
        )

            div.row.collapse.bg-blue.round-md
                div.small-12.column

                    div.row.bg-red.text-white
                        div.small-12.column
                            div.spacer-sm
                            div.text-sm {{product.name}}
                            div.spacer-sm



                div.small-12.column
                    div.spacer-md
                    div.round-md.bg-gray-xlight.pad
                        div.square-md.round-md(
                            style="background-image: url('{{product.image}}')"
                        )
                    div.spacer-md

                div.small-12.column
                    div.row.bg-gray-dark.text-white
                        div.small-12.column
                            div.spacer-sm
                            div.text-xs ${{product.price}}
                            div.spacer-sm
            div.spacer-lg