doctype html
head
    meta(charset="utf-8")

    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.1/css/foundation.min.css")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="./client/build/index.css")

    //- $ required for Util.mediaQuery
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js")
    script(src="./client/build/app.js")

    block head

body#body(ng-app="App:List")
    div#media-query
    div.row.double-gutter.bg-green.text-white
        div.small-12.column
            div.spacer-xxs
            div
                a.text-lg.text-thin(href='/') Escalada
            div.spacer-xxs

    div.spacer-lg

    div.row.double-gutter(
        ng-controller="Controller:ProductsList"
        ng-switch="products.ajax.isLoading"
        ng-cloak
    )
        div.small-12.column
            block content